#cabeceralogo {
    width: 96%;
    height: 120px;
    padding: 0% 2%;
    background-image: url("https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    }

    #cabeceralogo > div {
        width: 960px;
        margin: 0px auto;/* Para que no haya margenes y se quede en el centro */
        padding-top: 2px;
    }
    
    #cabeceralogo h1 {
    font: bold 50px Garamond, sans-serif;
    text-align: center;
    color: #ffffff;
    border: 3px solid;
    border-radius: 20px 10px 30px 50px;
    }
    
    #Noticias iframe{
        float: left;
        width: 461px;
        height: 830px;
        margin: 3px;
    
    }





