body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    padding: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    width: 100%;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    padding: 10px;
    box-sizing: border-box;
  }
  
  .product img {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-info h3 {
    color: #333;
    margin-bottom: 5px;
  }
  
  .product-info p {
    margin-bottom: 5px;
  }
  
  .add-to-cart {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
    width: 100%;
  }
  .product {
    position: relative;
    display: inline-block;
  }
  .product-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(217, 0, 255); /* Color de fondo deseado */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .product:hover .product-info {
    opacity: 1;
  }